.active * {
    color: #20a8d8;
}
:root {
    --myBlackOpa1: rgba(0,0,0,0.75);
    --myBlackOpa2: rgba(0,0,0,0.2);
    --myBlackOpa3: rgba(0,0,0,0.05);
    --myBlackText: #212529;
    --myGray: ;
    --myWhiteOpa1: rgba(255,255,255,0.6);
    --myBlueGray1: #3E5062;
    --myBlueGray2: #2B3843;
    --myYellow: #EDFF00;
    --myOrange: #E6461A; 

    /* --------- Black | D ---------- */
    --myColorD1: rgba(0,0,0,0.75);
    --myColorD2: rgba(0,0,0,0.5);
    --myColorD3: ;
    /* --------- White | L ---------- */
    --myColorL1: ;
    --myColorL2: ;
    --myColorL3: ;
    /* --------- Primary | A -------- */
    --myColorA1: ;
    --myColorA2: ;
    --myColorA3: ;
    /* --------- Secondary | B------- */
    --myColorB1: ;
    --myColorB2: ;
    --myColorB3: ;
    /* --------- Accent | C---------- */
    --myColorC1: ;
    --myColorC2: ;
    --myColorC3: ;
}
.myBody-buffer {
    height: 50vh; /* body buffer for very-short-content pages*/
}
input,a,button,textarea,select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: none;
}
.myText-warm {
    color: var(--myOrange);
}
.myCursor>td[data-target], .myCursor>li[data-target], .myCursor>span[data-target] {
    cursor: pointer;
}
.myInput-elegant {
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    background: transparent;
}
.myInput-elegant:hover {
    font-style: italic;
}
.myInput-elegant-2, .myInput-elegant-3 {
    /* border-width: 0px; */
    border-radius: 0px;
    border: 1px solid transparent;
    background: var(--myBlackOpa3);
    box-sizing: border-box;
    color: var(--myBlueGray2);
}
.myInput-elegant-2:hover, .myInput-elegant-3:hover {
    background: transparent;
    border-bottom: 1px solid var(--myBlackOpa2);
}
.myInput-elegant-3:focus {
    border-bottom: 1px solid var(--myBlackOpa2);
    background: white;
}
.myInput-elegant-2:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--myOrange);
    background: transparent;
    color: var(--myOrange);
}

.myInput-elegant-2 option, .myInput-elegant-3 option {
    color: black;
}
/* Snack bar from W3School tuts*/

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.myText-link {
    color: var(--myBlueGray2);
    text-decoration: underline;
    border: none;
    background: transparent;
    cursor: pointer;
}
.myText-link-2 {
    color: var(--myBlueGray2);
    text-decoration: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.myText-link:hover, .myText-link-2:hover {
    color: var(--myOrange);
}
.myIcon-inside {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.mySearch {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    height: 300px;
    overflow-Y: scroll;
    
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* End of Snackbar */